{% extends 'RHIN/base.html' %}

{% block content %}
	


	<div class="row">
		
		<div class="col-lg-12">
			
			<section class="panel panel-success">
                          <header class="panel-heading">
                             Detalhes do Funcionário
                          </header>
                          <div class="panel-body">


                              <form class="form-horizontal" method="post" action="/funcionario/atualizar/">

                              {% csrf_token %}

                              {% if message %}
                              <div class="form-group">
                              	<div class="col-sm-12">
                              		<div class="alert alert-{{ type }}">
                              			{{ message }}
                              		</div>
                              	</div>
                              </div>
                              {% endif %}

                                <input type="hidden" name="funcionario_id" value="{{ worker.id }}">

                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Nome</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" name="first_name" value="{{ worker.first_name }}">
                                      </div>

                                      <label class="col-sm-2 control-label">Sobrenome</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" name="last_name" value="{{ worker.last_name }}">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">CPF</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" name="cpf" value="{{ worker.cpf }}" cpf-mask>
                                          <span class="help-block">Somente números</span>
                                      </div>

                                      <label class="col-sm-2 control-label">RG</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" name="rg" value="{{ worker.rg }}">
                                          <span class="help-block">Somente números</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Fone 1</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" name="phone1" value="{{ worker.phone1 }}" fone-mask >
                                          <span class="help-block">Somente números</span>
                                      </div>

                                      <label class="col-sm-2 control-label">Fone 2</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" name="phone2" value="{{ worker.phone2 }}" fone-mask >
                                          <span class="help-block">Somente números</span>
                                      </div>
                                  </div>

                                   <div class="form-group">
                                  	<label class="col-sm-2 control-label">CEP</label>
                                  	<div class="col-sm-6">
                                  		<input type="text" name="cep" class="form-control" value="{{ worker.cep }}" cep-mask >
                                  	</div>
                                  </div>

                                  <div class="form-group">
                                  	<label class="col-sm-2 control-label">Endereço</label>
                                  	<div class="col-sm-10">
                                  		<input type="text" name="address" class="form-control" value="{{ worker.address }}">
                                  	</div>
                                  </div>

                                   <div class="form-group">
                                  	<label class="col-sm-2 control-label">Cidade</label>
                                  	<div class="col-sm-10">
                                  		<input type="text" name="city" class="form-control" value="{{ worker.city }}">
                                  	</div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-sm-2 control-label">Cargo</label>
                                      <div class="col-sm-10">
                                          <select required="" class="form-control" name="cargo">
                                          	<option value="">Selecione...</option>
                                          	{% for cargo in cargos %}
                                          		<option value="{{ cargo.id }}">{{ cargo.description }}</option>
                                          	{% endfor %}
                                          </select>
                                      </div>

                                  </div>

                                    <div class="form-group">
                                      <label class="col-sm-2 control-label">Horário</label>
                                      <div class="col-sm-10">
                                          <select required="" class="form-control" name="horario">
                                            <option value="">Selecione...</option>
                                            {% for horario in horarios %}
                                              <option value="{{ horario.id }}">{{ horario }}</option>
                                            {% endfor %}
                                          </select>
                                      </div>

                                  </div>

                                   <div class="form-group">
                                  	<label class="col-sm-2 control-label">Salário</label>
                                  	<div class="col-sm-6">
                                  		<input type="text" name="sal" class="form-control" value="{{ worker.salario }}">
                                  	</div>
                                  </div>

                                
                                  
                                
                                  

                                  <div class="form-group">
                                  	<div class="col-lg-10 col-lg-offset-2">
                                  		<button class="btn btn-primary">Atualizar</button>
                                  	</div>
                                  </div>
                              </form>












                          </div>
                      </section>







		</div>

	</div>

{% endblock content %}