 <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="active">
                    <a class="" href="/">
                        <i class="icon_house_alt"></i>
                        <span>Painel</span>
                    </a>
                </li>

                <li class="sub-menu">
                	<a href="javascript:void(0)" class="">
                		<i class="icon_document_alt"></i>
                		<span>Funcionários</span>
                		<span class="menu-arrow arrow_carrot-right"></span>
                	</a>

                	<ul class="sub">
                		<li>
                			<a href="/funcionario/cadastrar">Cadastrar</a>
                			<a href="/funcionario/consultar">Consultar</a>
                		</li>
                	</ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:void(0)" class="">
                        <i class="icon_document_alt"></i>
                        <span>Cargos</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>

                    <ul class="sub">
                        <li>
                            <a href="/cargo/cadastrar">Cadastrar</a>
                            <a href="/cargo/consultar">Consultar</a>
                        </li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:void(0)" class="">
                        <i class="icon_document_alt"></i>
                        <span>Horários</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>

                    <ul class="sub">
                        <li>
                            <a href="/horario/cadastrar">Cadastrar</a>
                            <a href="/horario/consultar">Consultar</a>
                        </li>
                    </ul>
                </li>

                 <li class="sub-menu">
                	<a href="javascript:void(0)" class="">
                		<i class="icon_ribbon_alt"></i>
                		<span>Relatórios</span>
                		<span class="menu-arrow arrow_carrot-right"></span>
                	</a>

                	<ul class="sub">
                		<li>
                			<a href="/relatorios/ferias">Férias</a>
                			<a href="/relatorios/afastamentos">Afastamentos</a>
                		</li>
                	</ul>
                </li>

                <li class="divider"></li>

              
                
               
                
            
            </ul>
            <!-- sidebar menu end-->
        </div>